<h1>{{ 'Welcome'|trans }} {{ user.nick }}!</h1>
<p>
    {{ 'Your account will be activated after you confirm it by clicking the link below'|trans }}: <br/>
    <a href="{{ link }}">{{ link }}</a>
</p>

<p>
    --<br>
    {{ 'Thanks a lot,'|trans }}<br>
    {{ 'Zdalny Browar'|trans }}
</p>
