<h1>{{ 'Welcome'|trans }} {{ user.nick }}!</h1>
<p>{{ 'Forgot your password?'|trans }}</p>
<p>
    {{ 'Use this temporary code for reset your password in mobile app'|trans }}: <br/>
    <code>{{ code }}</code>
</p>

<p>
    --<br>
    {{ 'Thanks a lot,'|trans }}<br>
    {{ 'Zdalny Browar'|trans }}
</p>
